<div id="menu-full">
    <div id="menu">
        <a href="/" id="menu-matheus-gontijo">Matheus Gontijo</a>
        <div id="menu-links">
            <a href="/about" class="menu-link">About</a>
            <a href="/talks" class="menu-link">Talks</a>
            <a href="/contact" class="menu-link">Contact</a>
        </div>
        <div id="menu-social-media">
            <a href="https://twitter.com/mhgontijo" target="_blank" class="menu-social-media-link"><i class="menu-social-media-icon fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/matheus-gontijo-mba-95989a70/" target="_blank" class="menu-social-media-link"><i class="menu-social-media-icon fab fa-linkedin"></i></a>
            <a href="https://github.com/matheusgontijo/" target="_blank" class="menu-social-media-link"><i class="menu-social-media-icon fab fa-github"></i></a>
        </div>
    </div>
</div>
